{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}
<div class="alert alert-success">
  {{message}}
</div>
  <h1>{{memo.name}}</h1>
  
  <p>
    {{forms.destroy_button("#{base_path}/groupmemo/#{memo.id}/destroy")}}
  </p>
  <ul>
      
    <li><strong>Lisäyspäivä</strong>{{memo.added}}</li>
    <li><strong>Lisääjä</strong> {{memo.username}}</li>
    <li><strong>Ryhmä</strong> {{memo.groupname}}</li>
    <li><strong>Tärkeys</strong> {{memo.priority}}</li>
    </ul>
  <p>
    {{memo.description}}
  </p>
  
{% endblock %}