{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}
  <h1>Muokkaa muistiinpano</h1>
  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  <form method="post" action="{{base_path}}/memo/{{attributes.id}}/edit">
    <div class="form-group">
      <label class="control-label">Nimi</label>
      <input type="text" name="name" class="form-control" value="{{attributes.name}}">
    </div>

    <div class="form-group">
      <label class="control-label">Kuvaus</label>
      <input type="text" name="description" class="form-control" value="{{attributes.description}}">
    </div>

    <div class="form-group">
      <label class="control-label">Tärkeys</label>
      <input type="text" name="priority" class="form-control" value="{{attributes.priority}}">
    </div>
    <div class="form-group">
      <form method="post" action="{{base_path}}/memo/{{Muistiinpano.id}}/edit" style="display: inline-block;">
  <button type="submit" class="btn btn-danger">Muokkaa</button>
  {{forms.destroy_button("#{base_path}/memo/#{Muistiinpano.id}/destroy")}}
    </div>
  </form>
{% endblock %}
